.warehouse-container{
    width: 90% !important;
    margin: 0 auto;

    .received-product-card{
        background-color: rgba(233, 226, 226, 0.805);
        
        .warehouse-info{
            font-size: 0.8rem;
        }
    }
}