body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  .main-container{
    position: relative;
    min-height: 100vh; /* Đảm bảo nội dung chiếm toàn bộ chiều cao */
    overflow: hidden;
    z-index: 1;  
    
    .content-container{
      min-height: calc(var(--vh, 1vh) * 100) !important;
      overflow: hidden;
    }
  }
  .main-container-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/blur-rain-03.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    z-index: -1;       
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
