body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow: hidden;
  background-size: 100% 100%;
  background-image: url('../assets/blur-rain-01.webp');
  background-size: cover; /* Đảm bảo hình ảnh phủ toàn bộ vùng nền */
  background-position: center; /* Đảm bảo hình ảnh luôn ở trung tâm */
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
