.distribution-img{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.distribution-card{
    background-color: transparent;
    color: white;
    border-radius: 7px;
    border: 1px solid #dbdfe4 !important;
    font-size: 0.85rem;
}