.custom-container-bank-account {
    width: 100%;
}

.ct-bank-card {
    width: 100%;
    background-color: rgba(64, 64, 64, 0.57); 
    backdrop-filter: blur(6px);
    border-radius: 17px;
}

.left-col {
    padding: 0;
}

.bank-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px 0 0 17px;
}

.backArrow{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.ct-card {
    border: none;
    background-color: transparent; 
    padding: 20px;
    color: white;
}

.btn-login {
    margin-top: 20px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #6b6f6f;
    border-radius: 8px;
    text-align: center;
    min-height: 32px;
    background-image: linear-gradient(to bottom, #3a405c, #365354);
    box-shadow: 5px 8px 10px #272c3e, 0 0 10px #272c3e;
}



@media (max-width: 768px) {
    .bank-image {
        display: none;
    }
}
