.avatar-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    margin-left: auto;

    .avatar-img {
        width: 100%;
        height: 100%;
    }
}

.blur-card-profiles {
    background-color: transparent !important;
    backdrop-filter: blur(6px) !important;
    color: white !important;
    // border: 1px solid #dbdfe4 !important;
    flex: 1; // Đảm bảo mỗi card chiếm không gian đều

    li{
        border-top: 1px solid #616272;
        
        p{
            margin: 0;
            cursor: pointer;
        }

        &:last-child{
            border-bottom: 1px solid #616272;
        }
    }
}


@media (max-width: 768px) {    
    .user-info {
        text-align: start;

        .avatar-btn {
            width: 40px;
            height: 40px;
        }
    }

    .card {
        margin-top: 10px;
    }
}
  