$primary-color: #007bff;
$light-blue: #66ccff;
$white: #82e0e7;
$error-color: red;

body {
    margin: 0;
    padding: 0;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 70px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -2px -1px 8px 5px rgba(0, 0, 0, 0.1);
    
    .login-title{
        text-align: center;
        font-weight: bold;
        font-size: 23px;
        padding-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center; 
        max-width: 90%;
        margin: 1px auto;

        ._input-group {
            width: 100%;
            margin-bottom: 10px;

            .input-container {
                display: flex;
                align-items: center;
                border-radius: 30px !important;
                padding: 5px 15px;
                max-width: 360px; 
                height: 40px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            
                input {
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    flex-grow: 1 !important; 
                    font-size: 16px;
                    padding: 5px;
            
                    &:focus {
                        border-color: $primary-color;
                    }
            
                    &.error {
                        border-color: $error-color;
                    }
                }
            
                .eye-icon {
                    cursor: pointer;
                }
            
                .icon {
                    color: black;
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
            
            
            .inline-input{
                display: inline-block !important;

            }
            label {
                font-weight: bold;
                margin-bottom: 5px;
                display: block;
            }

            input {
                border: none;
                outline: none;
                border-radius: 10px;
                flex-grow: 1; // Giúp input chiếm hết không gian còn lại
                font-size: 16px;
                padding: 5px;

                &:focus {
                border-color: $primary-color;
                }

                &.error {
                border-color: $error-color;
                }
            }

            small {
                display: block; 
                margin-top: 5px; 
                color: $error-color;
                height: 16px; 
                font-size: 12px;
                // visibility: hidden; 
            }

            .visible {
                visibility: visible; 
            }
        }

        .btn-login {
            width: 75%; 
            padding: 10px;
            font-weight: bold;
            background-image: linear-gradient(to right, $primary-color, $light-blue, $white);
            color: white;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }

    .register-navigator{
        padding-bottom: 15px;

        .register{
            color: black;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
  .login-container {
    width: 90%;
  }
}

@media (max-width: 425px) { //Responsive for mobile          
    .login-container{
        width: 90%;
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ffffff00;
        box-shadow: -2px -1px 8px 5px rgba(0, 0, 0, 0)
    }

    .login-title{
        color: white;
    }

    .input-container{
        background-color: #f0f0f0;
    }

    input{
        background-color: #f0f0f0;
    }

    .register-navigator{
        color: white !important;

        .register{
            color: white !important;
        }
    }
}




